body{
    background-color: #1b1b1b;
    font-family: "Courier New";
    color: white;
    margin:auto;
    text-align: center;
}
.upperbar{
    font-size: 30px;
    height: 150px;
}
.filterbar{
    font-size: 30px;
    height: 300px;
}
.ubtitle{
    text-align: center;
    font-size: 50px;
    display: inline-block;
}
.ubtitle:hover{
    cursor: pointer;
}
/*.pc{
    background-color: #616161;
}*/
.wrap{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1400px;
}
.wrapnoimage{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 1800px;
}
.pc:hover{
    cursor: pointer;
    background-color: #222222;
}
.filterbuttonpos{
    display: inline-block;
    text-align: center;
    /*
    width: 42px;
    height: 42px;*/
    width: 37.5px;
    height: 50px;
}
.rssbuttonpos{
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
}
a{
    color: white;
    text-decoration: none;
}