body{
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: "Courier New";
    margin: auto;
}
span{
    margin-left:10px;
}
#image{
    vertical-align: middle;
    width: 60px;
    height: 60px;
}
#tag:hover{
    color: gold;
    cursor: pointer;
}
.title{
    text-align: center;
}
.image{
    text-align: center;
}
.timestamps{
    font-size: 15px;
    color: gray;
    text-align: center;
}
.normaltext{
    font-size: 30px;
}
.bold{
    font-size: 30px;
    font-weight: bold;
}
.underline{
    font-size: 30px;
    text-decoration: underline;
}
.redtext{
    font-size: 30px;
    color: red;
}
.link{
    font-size: 30px;
    color: orange;
}
.texthead{
    font-size: 50px;
    text-align: center;
}
.websiteembed{
    resize: both;
    overflow: auto;
    text-align: center;
}
code {
    text-align: left;
}
.imageattribution{
    text-align: center;
    font-size: 20px;
    color: rgb(172, 172, 172);
}